# Include the README
include *.rst

# Include the license file
include LICENSE

# Include template files
include beluga/bvpsol/templates/*
include beluga/optimlib/templates/brysonho/*
include beluga/optimlib/templates/brysonho/qcpi/*
include beluga/optimlib/templates/icrm/*
include beluga/optimlib/templates/icrm/qcpi/*