autograd>=1.2
cloudpickle
docopt>=0.6.2
llvmlite==0.27.0
matplotlib>=2.2.2
npnlp>=0.0.2
numba>=0.35.0
numexpr>=2.6.8
numpy>=1.14.3
scipy>=1.1.0
sympy>=1.1.1
pathos>=0.2.2.1
pytest>=3.5.1
pytest-cov>=2.5.1
pytest-describe>=0.11.1
