data-bad.dill filter=lfs diff=lfs merge=lfs -text
data-distandylim-y051-d02.dill filter=lfs diff=lfs merge=lfs -text
data-distandylim-y065-d02.dill filter=lfs diff=lfs merge=lfs -text
data-distandylim-y065-d02b.dill filter=lfs diff=lfs merge=lfs -text
data-distandylim-y07-d02.dill filter=lfs diff=lfs merge=lfs -text
data-nofly-2v-qcpi.dill filter=lfs diff=lfs merge=lfs -text
data-nofly-3v-qcpi.dill filter=lfs diff=lfs merge=lfs -text
data-nofly-4v-qcpi.dill filter=lfs diff=lfs merge=lfs -text
data-nofly-5v-qcpi.dill filter=lfs diff=lfs merge=lfs -text
data-nofly-5v-yc05-qcpi.dill filter=lfs diff=lfs merge=lfs -text
data-sep01-0deg.dill filter=lfs diff=lfs merge=lfs -text
data-zs-r01-z0125-x05.dill filter=lfs diff=lfs merge=lfs -text
data-zs-unc-qcpi.dill filter=lfs diff=lfs merge=lfs -text
data-zs-unc.dill filter=lfs diff=lfs merge=lfs -text
data.dill filter=lfs diff=lfs merge=lfs -text
data5.dill filter=lfs diff=lfs merge=lfs -text
